<ion-app>
  <ion-header>
        <ion-toolbar>
            <ion-title>Notification DEMO</ion-title>
        </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <div class="ion-text-center">topic: station1</div>
    <div class="ion-text-center">
      <ion-button fill="outline" (click)="subscribe1()">subscriber</ion-button>
      <ion-button fill="outline" color="danger" (click)="unsubscribe1()">unsubscriber</ion-button>
    </div>
    <br/>
    <div class="ion-text-center">topic: station2</div>
    <div class="ion-text-center">
      <ion-button fill="outline" (click)="subscribe2()">subscriber</ion-button>
      <ion-button fill="outline" color="danger" (click)="unsubscribe2()">unsubscriber</ion-button>
    </div>
  </ion-content>
</ion-app>
